[submodule "backend/gateway"]
	path = backend/gateway
	url = https://github.com/ialopezg/gateway.git
[submodule "backend/services/user_service"]
	path = backend/services/user_service
	url = https://github.com/ialopezg/user_service.git
