[submodule "api-boilerplate"]
	path = api-boilerplate
	url = https://github.com/ialopezg/api-boilerplate.git
[submodule "microservices/mailer"]
	path = microservices/mailer
	url = https://github.com/ialopezg/mailer.git
